@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
        <li>@Html.ActionLink(" ", "Index", "CompanyOneSale", null, new { id = "companyonemenulogo", @style = "color:#000000; font-weight:bold; font-size:20px; padding: 25px 50px;background:url(/Content/Images/companyone.png) no-repeat center;background-size:120px 33px" })</li>
        <li>@Html.ActionLink(" ", "Index", "CompanyTwoSale", null, new { id = "companytwomenulogo", @style = "color:#000000;font-weight:bold; font-size:20px; padding: 25px 60px;background:url(/Content/Images/companytwo.png) no-repeat center;background-size:120px 33px" })</li>

}