@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
        <li>@Html.ActionLink(" ", "Index", "ArventoSale", null, new { id = "arventomenulogo", @style = "color:#000000; font-weight:bold; font-size:20px; padding: 25px 50px;background:url(/Content/Images/arventologo.png) no-repeat center;background-size:120px 33px" })</li>
        <li>@Html.ActionLink(" ", "Index", "TurkcellSale", null, new { id = "turkcellmenulogo", @style = "color:#000000;font-weight:bold; font-size:20px; padding: 25px 60px;background:url(/Content/Images/turkcelllogo.png) no-repeat center;background-size:120px 33px" })</li>

}