@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .body-content {
        height: 100%;
        display: grid;
        position: inherit;
        color: white;
    }
</style>

<div class="text-center">
    <h1 style="font-size:150px">Hata</h1>
    <h3>Beklenmedik bir hatayla karşılaşıldı</h3>
</div>

